*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html,body{
	/*background-color: #f1f1f1 !important;*/
	background-color: #cfd8dc ;
}
a{
	text-decoration: none;
	color: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }
i {
  line-height: inherit; }
  i.izq {
    float: left;
    margin-right: 15px; }
  i.der {
    float: right;
    margin-left: 15px; }
  i.tiny {
    font-size: 1rem; }
  i.small {
    font-size: 2rem; }
  i.medium {
    font-size: 4rem; }
  i.large {
    font-size: 6rem; }
.container{
	width: 95%;
	max-width: 1000px;
	margin: auto;
}
	.container p {
		margin-bottom: 50px;
	}

header .cabezera {
	width: 100%;
}
	header .info{
	position: absolute;
	top: 3em;
	left: 5em;
	z-index: 10;

	}
	header .cabezera img{


	}
header nav {
	margin-top: -5px;
	background-color: #c0392b;
	margin-bottom: 10px;
	-webkit-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}
	header nav ul {
		list-style: none;
		overflow: hidden;	 
	}

		header nav ul li{
			float: left;
		}
			header nav ul li a{
				display: block;
				padding:1.2em;
				color: #fff;
				font-family: 'Lato', sans-serif;
				text-decoration: none;
				-webkit-transition: all ease .5s;
				-o-transition: all ease .5s;
				transition: all ease .5s;
			}
			header nav ul li a:hover{
				background-color: #e74c3c;
			}

.menu-fixed{
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0px 2px 1px rgba(0,0,0,0.2);
}
	.menu-fixed nav ul li a{
		padding: .6em 1.2em;
	}
.info p{
	color: #fff ;
	font-family: 'Slabo 27px', serif;
	font-size: 2.5em;
	text-shadow: 0px 1px #000;
	max-height: 100%;
}
.masinfo{
	color: #fff!important;
	font-family: 'Abel', sans-serif !important;
	font-size: 1.5em !important;
	text-shadow: 0px 1px #000 !important;
}
.masinfoplus{
	color: #fff !important;	
	font-family: 'Abel', sans-serif !important;
	font-size: 1.2em !important;
	text-shadow: 1px 1px #000 !important;
}
.navegacionmoblie{
	width: 100%;
}
.nav-mobile{	
	display: none;
	width: 100%;
	background-color: #c0392b;
}
	.nav-mobile ul{
		list-style: none;
		overflow: hidden;
	}
	.nav-mobile ul li{
		float: left;
	
	}
	.nav-mobile ul li a{
		display: block;
		color: #fff;
		padding: 1.2em;	
		font-family: 'Lato', sans-serif;
		text-decoration: none;
		-webkit-transition: all ease .5s;
		-o-transition: all ease .5s;
		transition: all ease .5s;
	}
	.nav-mobile ul li a:hover{
		background-color: #e74c3c;
	}

#menu-mobile{
	display: none;
	position: fixed;
	top: .5em;
	right: .5em;
	z-index: 100;
	border: none;
	padding: .3em;
	background-color: #c0392b;	
	font-size: 2em;
	cursor: pointer;
	color: #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	-webkit-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
	#menu-mobile:hover{
		background-color: #e74c3c;
	}
.cortina{
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	z-index: 90;
	background: rgba(0,0,0,0.5);
}
@media screen and (max-width: 800px) {
    header nav {
       display: none;
    }
    .nav-mobile{
    	position: fixed;
    	top: 0;
    	left: -100%;
    	z-index: 100;
    	display: block;
		width: 15em;
    	height: 100%;
    	margin: 0;
    }
    .nav-mobile ul li{
    	display: block;
    	float: none;
    	border-bottom: 1px solid rgba(255,255,255,0.3);
    }    
    #menu-mobile{
       display: block;
    }
    header .info{
    	width: 	25em;
    }
}


footer{
	width: 100%;
	height: 7em;
	background-color: #34495e;
}

/*   SlideshowHeader    */
.form_container{
	width: 100%;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	height: 15em;
}
.left, .right{
	position: absolute;
	top: 40%;
	z-index: 20;
	font-size: 2em;
	height: 50px;
	border: none;
	color: #f7f7f7;
	background-color: rgba(0,0,0,0.1);
	padding-left: .5em;
	padding-right: .5em;
	border-radius: 2em;
	padding-top: .1em;
	cursor: pointer;
}
.left{
	left: .75em;
}
.right{
	right: .75em;
}
.form_container .slideContainer{
	white-space: nowrap;
}
.form_container .slideContainer .slide{
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 20%;
}


/*----------- CARD PARA POST DE L PAGINA DE INICIO ----------*/


.card{
	margin: 0 auto;
	width: 80%;
	height: 22em;	
	background-color: #fff;
}
.card .portada{
	width: 100%;
	height:40%;
}
.card .portada img{
	width: 100%;
	height: 100%;
	-webkit-filter: grayscale(70%);
	-o-filter: grayscale(70%);
	filter: grayscale(70%);
	-webkit-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}
.card .portada img:hover{
	-webkit-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}

.card  .contenido{
	margin: 0 auto;
	width: 95%;
	height: 50%;
}
.card  .contenido p{
	width: 100%;
	height: 90%;	
	padding: 1em;	
}
.card .boton{
	margin: 0 auto;
	height: 10%;
	width: 100%;
}
.card .boton a{
}
.card-title{
	margin-top: .5em;
	margin-left: 1em;
}
.btn-seemore{
	padding: .4em;	
	border-right: 1px dashed #444;
	-webkit-transition: all ease .9s;
	-o-transition: all ease .9s;
	transition: all ease .9s;
}
.btn-seemore:hover{
	border-bottom: 1px dashed #444;
	border-left: 1px dashed #444;
	border-top: 1px dashed #444;
}
 @media only screen and (max-width : 601px){
	.card{
		margin-top: 1em;
	}
 }
  @media only screen and (max-width : 400px){
	.card{
		margin-top: 1em;
		width: 100%;
		height: 15em;	
		background-color: #fff;
	}
	.card .contenido{
		height: 20%;
	}
	.card .contenido p{
		display: none;
	}	
	header .info{
		display: none;
	}
	.left, .right{
	position: absolute;
	top: 30%;
	z-index: 20;
	font-size: 2em;
	height: 50px;
	border: none;
	}
  }
@media only screen and (max-width : 450px){
	header .info .masinfoplus{
		display: none;
	}
}
  /*------------------    POST   --------------------*/
.contenedor-portada{
	width: 100%;
	height: 20em;
}
.contenedor-portada img{
	width: 100%;
	height: 100%;
	-webkit-filter: grayscale(60%);
	-o-filter: grayscale(60%);
	filter: grayscale(60%);
}
.post{
	background-color: #fff !important;

}
.titulo-post{
	width: 100%;
	position: relative;
	top: -5em;
	left: 2em;	
} 
.titulo-post h1 {
	font-size: 3em;
	color: #fff;
	font-family: 'Abel', sans-serif !important;
	text-shadow:1px 2px 	rgba(0,0,0,.8);
}
.cuerpo-post{
	padding: 1em;
}
.cuerpo-post .header-post{

}
.top-space{
	margin-top: 4em;
}
.panel{
	margin: 0 auto;
	width: 90%;
	background-color: #fff;
	padding: 3em;	
}
.panel span {
	display: block;
}
.panel span i{
margin-left: 43%;
}

.hoja{
	width: 100%;
	padding: 1em;
	margin-top: 1.2em;
	background-color: #fff;
}
.center-align {
  text-align: center;
}
